<h1> All bookings on my apartments </h1>
<%= link_to "Back to listings", properties_path %>
<br>
<br>

<% @my_properties.each do |property| %>
    <h4> <%= property.title %> </h4>
    <% property.bookings.each do |booking| %>
      <p> Renter: <%= booking.user.username %> </p>
      <p> Date: From: <%= booking.start_date %> to: <%= booking.end_date %> </p>
      <p> Paid: <%= booking.price %> </p>
      <hr>
    <% end %>
  <hr>
<% end %>
