<div class="container">

  <h2> My Apartments </h2>
  <%= link_to "Back to listings", properties_path %>
  <hr>

  <% @my_properties.each do |property| %>
      <h5> <%= property.title %> </h5>
      <% property.bookings.each do |booking| %>
        <p> Renter: <%= booking.user.username %> </p>
        <p> Date: From: <%= booking.start_date %> to: <%= booking.end_date %> </p>
        <p> Paid: <%= booking.price %> </p>
        <hr>
      <% end %>
    <hr>
  <% end %>

</div>

