<div class="container">

  <h2> My bookings </h2>
  <%= link_to "Back to listings" , properties_path %>

  <hr>

  <% @bookings.each do |booking| %>
    <h3> <%= booking.property.title %> </h3>
    <p> From <%= booking.start_date %> to <%= booking.end_date %> </p>
    <p> Price: <%= booking.price %> </p>
    <p> Owner: <%= booking.property.user.username %> </p>
    <p> Booking Status: <%=%>
    <%= link_to "Delete", booking_path(booking), method: "delete", data:{confirm: "Are you sure?"}  %>
    <%= form_tag orders_path do %>
      <%= hidden_field_tag 'property_id', booking.property.id %>
      <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
    <% end %>
    <hr>
  <% end %>

</div>

    
