<div class="banner">
  <div class="container">
    <h1>Looking for an experience</h1>
    <p>Change your life and experience local life</p>
    <%= form_tag properties_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a property"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class=" title-card ">
    <%= link_to  "Create new", new_property_path, class: 'btn btn-secondary' %>
  </div>
</div>

<div class="container d-flex">
  <div class="cards">
      <% @properties.each do |property| %>
        <% property.photos.each do |photo|  %>
        <div class="card-product">
          <%= cl_image_tag photo.key, class: "card-img-top" %>
          <div class="card-product-infos">
            <h4> <%= property.title %> </h4>
            <h5 class="card-description"> <%= property.description %></h5>
            <p class="card-location">Location: <%= property.address %> </p>
            <p class="card-capacity">Capacity: <%= property.capacity %></p>
            <p class="card-price"> <strong><%= property.price %></strong> SGD / night</p>
            <%= link_to "Book", property_path(property), class: 'btn btn-secondary'%></a>
          </div>
        </div>
        <% end %>
      <% end %>
  </div>

  <div id="map"
    style="width: 100%;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

  <!-- <div class="content d-flex p-60"> -->
