<%= link_to  "CreateProperty", new_property_path %>
<% @properties.each do |property| %>
   <%= property.title %>
   <%= property.description %>
   <%= property.price %>
   <%= property.address %>
   <%= property.capacity %>
<% end %>


<div class="m-4">
        <div class="card" style="width: 18rem">
          <%= image_tag "airbnb.jpeg", class: "card-img-top" %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
