<h1> All Properties </h1>

<%= link_to "My bookings", bookings_path %>

<hr>

<h4> <%= link_to  "Create new apartment", new_property_path %> </h4>

<hr>

<% @properties.each do |property| %>
    <p> <%= property.title %> </p>
    <p> <%= property.description %> </p>
    <p> <%= property.price %> </p>
    <p> <%= property.address %> </p>
    <p> <%= property.capacity %> </p>
    <p> <%= link_to "Show", property_path(property) %> </p>
    <hr>
<% end %>




