<h1> All Properties </h1>

<%= link_to "My bookings (If i'm a renter)", bookings_path %>

<hr>

<h4> <%= link_to  "Create new apartment", new_property_path %> </h4>

<hr>

<% @properties.each do |property| %>
    <h4> <%= property.title %> </h4>
    <p> Description: <%= property.description %> </p>
    <p> Price: <%= property.price %> </p>
    <p> Address: <%= property.address %> </p>
    <p> Capacity: <%= property.capacity %> </p>
    <p> <%= link_to "Show this apartment", property_path(property) %> </p>
    <hr>
<% end %>




