<h1> All Apartment listings </h1>

<hr>

<h4> <%= link_to  "Create new apartment", new_property_path %> </h4>

<hr>

<div class="content">
  <div class="cards">
    <% @properties.each do |property| %>
    <div class="card">
      <% property.photos.each do |photo|  %>
      <%= cl_image_tag photo.key, :secure=>true,  :transformation=>[{:width=>248, :height=>198, :gravity=> "center", :crop=> "thumb"}], class: "card-img-top" %>
      <% end %>
      <div class="card-body">
        <h4> <%= link_to property.title, property_path(property) %> </h4>
        <h5 class="card-description"> <%= property.description %></h5>
        <p class="card-location">Location: <%= property.address %> </p>
        <p class="card-capacity">Capacity: <%= property.capacity %></p>
        <p class="card-price"> <strong><%= property.price %></strong> SGD / night</p>
        <p class="card-review">Reviews: <%= link_to property.reviews.count, property_path(property, anchor: 'review') %> </p>
        <%= link_to "Book", property_path(property), class: 'btn btn-outline-secondary' %></a>
      </div>
    </div>
    <% end %>

    <!-- <img id="map" src='https://api.mapbox.com/[...]?access_token=pk.eyJ1IjoiZmxvcmVudG1hcmNvIiwiYSI6ImNraDR1cHdudDAwOXMycnF6Z2Z3NG81aW8ifQ.1bF9YL9O_V3JJIy6luZ1JQ'> -->
  </div>

  <%= image_tag "https://lewagon.github.io/layouts-demo/images/mapbox.png" , id: "map"%>

</div>
