<h1> <%= @property.title %> </h1>

<!-- below is carousel image component from bootstrap => https://getbootstrap.com/docs/4.5/components/carousel/-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">

    <!-- below is an array of indicator elements. We need to add "active" to the first element
      for this bootstrap component to work. See application.js where we add active to the first element -->
    <% image_count = @property.photos.size %>
    <% image_count.times do %>
      <li data-target="#carouselExampleIndicators" data-slide-to="0" ></li>
    <% end %>

  </ol>
  <div class="carousel-inner">

    <!-- below is an array of image elements. We need to add "active" to the first element
      for this bootstrap component to work. See application.js where we add active to the first element -->
    <% @property.photos.each do |photo| %>
      <div class= "carousel-item">
        <%= cl_image_tag photo.key, height: 450, crop: :fill, :class => "d-block w-100" %>
      </div>
    <%end%>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="card-property">
  <div class="card-property-details">
    <div class="card-property-details-main">
      <p> Description: <%= @property.description %> </p>
      <p> Address: <%= @property.address %> </p>
      <p> Price: <%= @property.price %> </p>
      <p> Capacity: <%= @property.capacity %> </p>
    </div>
    <div class="card-property-details-footer">
      <ul>
        <% if policy(@property).edit? %>
          <li><%= link_to  "Edit", edit_property_path, class: 'btn btn-primary btn-sm' %> </li>
        <% end %>
        <% if policy(@property).destroy? %>
          <li><%= link_to  "Delete", property_path(@property), class: 'btn btn-danger btn-sm', method: :delete, data: {confirm: 'Are you sure?'} %></lo>
        <% end %>
        <p><%= link_to "Back to listings", properties_path, class: 'btn btn-primary btn-sm', style: 'margin: 5px;'%> 
        <%= link_to "Add review", new_property_review_path(@property), class: 'btn btn-primary btn-sm' %></p>
      </ul>
    </div>
  </div>

  
  <div>
    <h4>Book!</h4>
    <div id='flat-booking-dates' data-unavailable="<%= @property.unavailable_dates.to_json %>">
      <%= simple_form_for [@property, @booking ] do |f| %>
        <%= f.input :start_date, as: :string, type: :text %>
        <%= f.input :end_date, as: :string, type: :text %>
        <%= f.input :property, as: :hidden, html_input: { value: @property} %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>

<div class="card-property-details-main">
  <h4 style="text-align: left;"><%= @property.reviews.count %> Reviews</h4>
  <% @property.reviews.each do |review| %>
     <p><%= review.user.username  %></p>
     <%= review.content%>
  <% end %>
</div>