<h1> <%= @property.title %> </h1>
<% @property.photos.each do |photo|  %>
<%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<%end%>

<p> Description: <%= @property.description %> </p>
<p> Address: <%= @property.address %> </p>
<p> Price: <%= @property.price %> </p>
<p> Capacity: <%= @property.capacity %> </p>
<%= link_to  "Edit", edit_property_path %>
<br>
<%= link_to  "Delete", property_path(@property), method: :delete, data: {confirm: 'Are you sure?'} %>
<br>
<%= link_to "Back to listings", properties_path %>
<hr>

<h4> Book! </h4>
<%= simple_form_for [@property, Booking.new] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :property, as: :hidden, html_input: { value: @property} %>
  <%= f.submit %>
<% end %>
