<div class="container">
  <div class="row py-4">
    <div class="col-md-3"></div>
    <div class="col">
      <h1>Checkout summary</h1>
      <p>Purchase of <strong><%= @order.property.title %></strong> for <strong><%= humanized_money_with_symbol @order.amount %></strong></p>
      <button id="pay" class="btn btn-primary">Pay</button>
      <%= link_to  "Cancel", order_path(@order), method: "delete", class: "btn btn-danger" %>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        console.log("js scripting");
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          console.log(stripe);
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>